---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import HomePageScript from "../components/HomePageScript.astro";
import DocsHero from "../components/DocsHero.astro";
import DocsLinksSection from "../components/DocsLinksSection.astro";
import DocsPathSection from "../components/DocsPathSection.astro";
import { docsPageMeta } from "../data/home";
---

<Layout
  title={docsPageMeta.title}
  description={docsPageMeta.description}
>
  <div class="page-shell">
    <Header />

    <main id="top">
      <DocsHero />
      <DocsLinksSection />
      <DocsPathSection />
    </main>

    <Footer />
  </div>
  <HomePageScript />
</Layout>
