---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import Footer from "../components/Footer.astro";
import FeaturesSection from "../components/FeaturesSection.astro";
import HomeRoutesSection from "../components/HomeRoutesSection.astro";
import HomePageScript from "../components/HomePageScript.astro";
import GeoSection from "../components/GeoSection.astro";
import FaqSection from "../components/FaqSection.astro";
import DemoFlowSection from "../components/DemoFlowSection.astro";
import { homeFaqStructuredData, homePageMeta } from "../data/home";
---

<Layout
  title={homePageMeta.title}
  description={homePageMeta.description}
  structuredData={[homeFaqStructuredData]}
>
  <div class="page-shell">
    <Header />

    <main id="top">
      <Hero />
      <GeoSection />
      <DemoFlowSection />
      <FeaturesSection />
      <HomeRoutesSection />
      <FaqSection />
    </main>

    <Footer />
  </div>
  <HomePageScript />
</Layout>
