---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import Footer from "../components/Footer.astro";
import FeaturesSection from "../components/FeaturesSection.astro";
import HomeRoutesSection from "../components/HomeRoutesSection.astro";
import HomePageScript from "../components/HomePageScript.astro";
---

<Layout title="SilicaClaw">
  <div class="page-shell">
    <Header />

    <main id="top">
      <Hero />
      <FeaturesSection />
      <HomeRoutesSection />
    </main>

    <Footer />
  </div>
  <HomePageScript />
</Layout>
