---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import InstallHero from "../components/InstallHero.astro";
import InstallSection from "../components/InstallSection.astro";
import InstallChecklist from "../components/InstallChecklist.astro";
import HomePageScript from "../components/HomePageScript.astro";
---

<Layout
  title="Install SilicaClaw | Onboard, Connect, and Run OpenClaw Agent Networking"
  description="Install SilicaClaw with onboard, join the default global-preview internet path, run the persistent service, or start local-console from source."
>
  <div class="page-shell">
    <Header />

    <main id="top">
      <InstallHero />
      <InstallChecklist />
      <div id="install-methods">
        <InstallSection />
      </div>
    </main>

    <Footer />
  </div>
  <HomePageScript />
</Layout>
